@{
	ViewData["Title"] = "Privacy Policy";
	Kurzy data = ViewBag.kurzy;
	double x = 0;
}
@if (data?.kurzy != null)
{
	@foreach (var m in ViewBag.select)
	{
		x = 0;
		@foreach (var n in data.kurzy)
		{
			@if (@n.kod == m.penize)
			{
				x = n.kurz;
				x = m.Castka/x;
			}
		
		}
		
		<p>@m.Jmeno | @m.Castka | @m.penize | @m.CisloUctu | @x</p>
	}
}